@import "../../assets/styles/global.module.css";

.stepper {
  position: relative;
  left: 107px;
  top: 45px;
}

.stepperSteps {
  display: flex;
  align-items: center;
}

.firstStep {
  width: 40px;
  height: 40px;
  padding-top: 8px;

  border: 1px solid var(--green-1);
  border-radius: 8px;

  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
}

.midLine {
  width: 174px;
  height: 0px;
  border: 1px solid var(--green-rgba-2);
}

.secondStep1 {
  width: 40px;
  height: 40px;
  padding-top: 8px;

  border: 1px solid var(--green-1);
  border-radius: 8px;

  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  color: var(--green-2);
  background: var(--white-3);
}

.secondStep2 {
  width: 40px;
  height: 40px;
  padding-top: 8px;

  border: 1px solid var(--green-1);
  border-radius: 8px;

  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
}

.stepperTitles {
  position: relative;
  left: 60px;
  top: 49px;

  display: flex;
  width: 330px;
  justify-content: space-between;
}
