@import "../../../assets/styles/global.module.css";

.dropdown {
  width: 300px;
  height: 46px;

  /* background: #ffffff; */
  background: transparent;

  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  user-select: none;
}

.remoteDropdown {
  width: 350px;
  height: 46;
}

.dropdownBtn {
  display: flex;
  justify-content: space-between;

  position: relative;
  width: 260px;
  left: 16px;
  top: 5px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;

  background: rgba(255, 255, 255, 1e-6);

  cursor: pointer;
}

.remoteBtn {
  width: 310px;
}

.dropdownContent {
  box-sizing: border-box;

  position: absolute;
  width: 300px;
  height: 155px;
  top: 50px;

  background: #ffffff;
  border: 1px solid rgba(185, 180, 196, 0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  z-index: 999;
}

.remoteContent {
  height: 316px;
}

.dropdownItem {
  width: 392px;
  height: 45px;

  margin-top: 5px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;

  padding: 8px 0 8px 10px;

  color: #000000;
}

.dropdownItem:hover {
  background: #f7f7f9;
}

.remoteItem {
  padding-top: 20px;
  height: 72px;
}

.vector {
  transform: rotate(180deg);
}

.error {
  margin-top: 35%;
  text-align: center;
  color: var(--red-rgba-1);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}
