@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  --blue-1: #7025FB;
  --red-1: #FD5334;
  --white: #ffffff;
}
